<form action="{{ path('login') }}" method="post">

  {% if error %}
    <p style="color:red">{{ error.messageKey }}</p>
  {% endif %}

  <div>
    <label for="username">Nom d'utilisateur</label>
    <input type="text" id="username" name="_username" value="{{ last_username}}">
  </div>

  <div>
    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="_password">
  </div>

  <button type="submit">Se connecter</button>
</form>